/* .site-footer {
   background: #1E1E21FA;
   color: #fff;
   padding-top: 30px;
}

.site-footer .brand {
   gap: 6px;
}

.site-footer ul {
   gap: 40px;
   margin-bottom: 26px;
   margin-top: 24px;
}

.site-footer ul a {
   font-family: Albert Sans;
   font-weight: 400;
   font-size: 15px;
   line-height: 22.5px;
   letter-spacing: 0px;
   color: #828383;
   transition: color .2s;
}

.site-footer ul a:hover {
   color: #fff;
}

.site-footer .copy {
   font-size: .78rem;
   color: #6f6f78;
   padding: 30px;
   margin: 0;
   font-family: Inter;
   font-weight: 400;
   font-size: 10px;
   line-height: 140%;
   letter-spacing: 0%;
   color: #6F6D66;
   text-align: center;
}

.footer-bottom {
   background: #030309;
} */