.pagination {
    font-size: 14px !important;
}

.pagination svg {
    width: 14px !important;
    height: 14px !important;
}

.pagination li a,
.pagination li span {
    padding: 6px 12px;
    font-size: 14px !important;
}